.featured {
    flex: 4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.featuredItem {
    flex: 1;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    height: 400px;
    width: 400px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
}

#headerLine {
    color: rgb(241, 241, 241);
}

.featuredTitle {
    font-size: 20px;
    font-weight: 600;
}