.info {
    flex: 4;
    margin: 50px;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.title {
    margin-bottom: 30px;   
}
.titleText {
    font-size: 36px;
}

.textInfo {
    text-align: justify;
    font-size:  16px;
    line-height: 26px;   
}

.textInfo a {
    color: black;
    text-decoration: none;
};
.textInfo a:hover {
    margin-left: 10px;
    text-decoration: none;
};